body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  \\background: grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em;
}

body nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 0px 0 0 0;
  text-align: center;
  font-size: 16px;
}

body nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}

body nav.primary-navigation li a {
  color: whitesmoke;
}

body nav.primary-navigation li a:hover {
  color: #3ca0e7;
}

body nav.primary-navigation li:hover {
  cursor: pointer;
}

body nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: #070797;
}

body nav.primary-navigation ul li:hover > ul,
body nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  width: 1em;
  -webkit-box-shadow: 0px 3px 5px -1px  #070707;
          box-shadow: 0px 3px 5px -1px  #070707;
}

body nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

body nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #070797;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body a {
  text-decoration: none;
}

body a:hover {
  color: #3CA0E7;
}

body ul li ul li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .container {
  margin: auto;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
}

body .title {
  margin: auto;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 200px;
}

body .title .heroimg {
  width: 10em;
  height: 10em;
  position: relative;
  top: -19px;
  left: 50px;
  border: 2em;
  z-index: 15;
  -o-object-position: center;
     object-position: center;
}

body .title .herotxt {
  margin: auto;
  width: 80%;
  height: 70px;
  position: relative;
  top: -10em;
  left: 60px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 25px solid #070797;
  border-top: 1px solid #070797;
}

body .title .herotxt .spacer1 {
  width: 13em;
  background-color: #070797;
}

body .title .herotxt .spacer2 {
  text-align: right;
  line-height: .8em;
  color: white;
  font-size: large;
  width: 100%;
  background-color: #070797;
}

body .nxnav {
  position: relative;
  top: -150px;
  left: -2em;
  margin: auto;
  width: 80%;
  height: 50px;
  z-index: 5;
}

body .nxlinks {
  position: absolute;
  margin: auto;
  margin-top: 0em;
  width: 40%;
  height: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bianary.grey.png);
  background-color: azure;
  border: 15px solid #070797;
  position: relative;
  top: -190px;
  left: 50px;
}

body .sec1 {
  margin: auto;
  margin-top: 2em;
  width: 90%;
  height: 200px;
  border: 15px solid green;
  visibility: hidden;
}

body .sec2 {
  margin: auto;
  width: 80%;
  height: 200px;
  border: 15px solid yellow;
  visibility: hidden;
}

body .sec3 {
  margin: auto;
  width: 80%;
  height: 200px;
  border: 15px solid green;
  visibility: hidden;
}

body .sec4 {
  margin: auto;
  width: 80%;
  height: 200px;
  border: 15px solid yellow;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */